.banner {
  position: relative;
  text-align: center;
  padding: 10px;
  background-color: #FE9774;
  color: white;
  opacity: 0.9;
  font-weight: bold;
  width: 100%;
  z-index: 1;
  font-size: 20px;
}
