.banner {
  position: fixed;
  text-align: center;
  top: 10px;
  padding: 10px;
  background-color: #C9689B;
  color: white;
  opacity: 0.9;
  width: 100%;
  font-weight: bold;
  z-index: 1;
  font-size: 20px;
}
