.banner {
  position: relative;
  text-align: center;
  padding: 20px;
  background-color: lightblue;
  color: black;
  opacity: 0.9;
  width: 100%;
  z-index: 1;
  font-size: 25px;
  margin-top: 0px;
}
