.tutor {
  list-style-type: "";
  border: solid 0px black;
  padding: 20px 20px 20px 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 1px rgb(10,10,10,0.6);
  margin: auto;
  max-width: 600px;
}

.tutor * {
  margin: 0;
  margin-bottom: 10px;
}

.tutor h1, .tutor h2, .tutor h3, .tutor h4, .tutor {
  margin-bottom: 10px;
}

.contacting button {
  margin-bottom: 5px;
}

.profile {
  border-radius: 100px;
  border: solid 3px black;
  width: 125px;
  height: 125px;
  margin: auto;
  margin-bottom: 10px;
}

.bookBtn {
  padding: 10px;
  background: #FFB6AD;
  transition-duration: .5s;
}

.bookBtn:hover {
  background: #FFB6AD;
  box-shadow: 0px 0px 3px 3px #FFB6AD;
  transition-duration: .5s;
}
