.tutor {
  list-style-type: "";
  border: solid 0px black;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 1px rgb(10,10,10,0.6);
}

.tutor * {
  margin: 0;
  margin-bottom: 0px;
}

.tutor h2, .tutor h3, .tutor h4, .tutor {
  margin-bottom: 5px;
  margin-top: 20px;
}

.contacting button {
  margin-bottom: 5px;
}

.profile {
  border-radius: 100px;
  border: solid 3px black;
  width: 125px;
  height: 125px;
  margin: auto;
  margin-bottom: 10px;
}

.scheduleBtn {
  background: #FFB6AD;
  color: black;
  font-weight: bold;
  border: solid 2px black;
  /*box-shadow: 5px 5px 0px #C96898;*/
}

.scheduleBtn span {
  color: gray;
}
