.footer {
  margin-top: 500px;
}

.newsletter {
  width: 100%;
  max-width: 800px;
  margin:auto;
  padding: 10px 30px 0px 30px;
  border-radius: 55px;
  box-shadow: 3px 3px 10px rgb(10,10,10,.4);
  margin-top: 40px;
  background-color: #FFD3AE;
  color: black;
}

.footerNav {
  position:relative;
  margin-top: 50px;
  text-align: center;
}
