.header {
  margin-bottom: 20px;
  background-color: none;
  border-radius: 55px;
  margin-top: -50px;
}

.header a {
  color: black;
}

.header a:hover {
  color: blue;
}

.header nav {
  transform: translate(0, -25px);
  text-align: center;
  flex-direction: column;
}

.header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header nav li {
  display: inline-flex;
  list-style-type: none;
}

.spaceRight {
  padding-right: 20px;
  padding-bottom: 5px;
}
