.header {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #FE9774;
  border-radius: 55px;
}

.header a {
  color: white;
  font-weight: bold;
}

.header nav {
  text-align: center;
  flex-direction: column;
}

.header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header nav li {
  display: inline-flex;
  list-style-type: none;
}

.spaceRight {
  padding-right: 30px;
}
