.message {
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 10px;
  /*
  background: #36454F;
  color: #FEEEEE;
  */
  padding: 10px;
  background: #36454F;
  border-radius: 10px;
  color: #FEEEEE;
}

.button {
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
}

.button:hover {
  opacity: .8;
}

@media screen and (max-width: 575px) {
  .button {
    width: 100%;
  }
}
