.message {
  font-weight: bold;
  font-size: 30px;
}

.button {
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  background: #FE9774;
}

.button:hover {
  opacity: .8;
  background: #FE9774;
}

@media screen and (max-width: 575px) {
  .button {
    width: 100%;
  }
}
