html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    /*
    background: #36454F;
    color: #FEEEEE;
    */
}

* {
  box-sizing: border-box;
}

main {
  flex: 1;
}

.container {
  width: 90%;
  max-width: 800px;
  margin:auto;
  padding: 5rem 0;
  font-size: 25px;
  margin-bottom: 200px;
}

input {
  font-size: 20px;
  border: solid 1px black;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 2px 2px 5px rgba(4, 0, 0, 0.5);
}

button {
  font-size: 20px;
  border: none;
  background-color: rgba(10,10,10,0.05);
  font-weight: 500;
  box-shadow: none;
  padding: 10px;
  border-radius: 10px;
}

button:hover {
  cursor: pointer;
  opacity: .8;
}

a {
  /*
  color: #FFB6AD;
  font-weight: bold;
  */
  color: blue;
  color: #C11BD1;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  opacity: .8;
}

.title {
  text-align: center;
}

p {
  line-height: 35px;
}

.dot {
  height: 6px;
  width: 6px;
  /*
  background-color: rgb(10,10,10,.6);
  */
  background: black;
  border-radius: 50%;
  display: inline-block;
  transform: translate(0, -3px);
}

.subtitle {
  color: rgb(10,10,10,.6);
}

.center {
  text-align: center;
}

blockquote {
  border-left: solid 4px lightgray;
  padding-left: 40px;
  margin: 0;
}

blockquote p {
  margin: 0;
}

blockquote div {
  margin-top: 10px;
}

blockquote cite {
  font-style: normal;
  font-weight: 450;
}

.hellip {
  letter-spacing: 5px;
}
