html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

main {
  flex: 1;
}

.container {
  width: 90%;
  max-width: 800px;
  margin:auto;
  padding: 5rem 0;
  font-size: 25px;
  margin-bottom: 200px;
}

input, button {
  font-size: 20px;
  border: solid 1px black;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 2px 2px 5px rgba(4, 0, 0, 0.5);
}

button:hover {
  opacity: .7;
}

a {
  color: blue;
  text-decoration: none;
}

.title {
  text-align: center;
}

p {
  line-height: 35px;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: rgb(10,10,10,.6);
  border-radius: 50%;
  display: inline-block;
}

.subtitle {
  color: rgb(10,10,10,.6);
}

.tutor {
  list-style-type: "";
  border: solid 0px black;
  padding: 20px 10px 20px 10px;
  border-radius: 30px;
  box-shadow: 1px 1px 10px 1px rgb(10,10,10,0.6);
  margin: auto;
  width: 80%;
  margin-bottom: 20px;
}

.tutor p, h1, h2, h3, h4 {
  margin: 15px;
}

.contacting {
}

.contacting button {
  border: none;
  background-color: rgba(10,10,10,0.05);
  font-weight: 500;
  box-shadow: none;
  padding: 10px;
  border-radius: 10px;
}

.contacting button:hover {
  cursor: pointer;
  background-color: rgba(10,10,10,0.15);
  opacity: 1;
}

.center {
  text-align: center;
}
