html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    /*
    background: #36454F;
    color: #FEEEEE;
    */
}

* {
  box-sizing: border-box;
}

main {
  flex: 1;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin:auto;
  padding: 0rem 0;
  font-size: 25px;
  margin-bottom: 1000px;
}

input {
  font-size: 20px;
  border: solid 1px black;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 2px 2px 5px rgba(4, 0, 0, 0.5);
}

button {
  font-size: 20px;
  background-color: cornflowerblue;
  color: white;
  font-weight: bold;
  padding: 15px;
  border: 4px solid transparent;
  border-radius: 10px;
}

button:hover {
  background-color: white;
  color: cornflowerblue;
  border: 4px solid cornflowerblue;
}

a {
  /*
  color: #FFB6AD;
  font-weight: bold;
  */
  color: black;
}

a:hover {
  cursor: pointer;
  opacity: .8;
}

.title {
  text-align: center;
}

p {
  line-height: 35px;
}

.dot {
  height: 6px;
  width: 6px;
  /*
  background-color: rgb(10,10,10,.6);
  */
  background: black;
  border-radius: 50%;
  display: inline-block;
  transform: translate(0, -3px);
}

.subtitle {
  color: rgb(10,10,10,.6);
}

.center {
  text-align: center;
}

blockquote {
  border-left: solid 4px lightgray;
  padding-left: 40px;
  margin: 0;
}

blockquote p {
  margin: 0;
}

blockquote div {
  margin-top: 10px;
}

blockquote cite {
  font-style: normal;
  font-weight: 450;
}

.hellip {
  letter-spacing: 5px;
}
